body * {
  font-family: 'Raleway', 'Futura', 'Century Gothic', sans-serif;
}

#siteMain {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
#pageHead {
  flex: 1 100%;
  text-align: center;
  font-size: 2.25em;
  margin: 1em 0;
}
.bio {
  flex: 1 22%;
  margin: 0.75%;
  text-align: center;
}
.bio img {
  width: 100%;
}
/* Text-specific styles */
h2 {
  font-size: 1em;
  font-weight: 700;
  text-decoration: underline #3FA979;
  text-align: center;
}

.email {
  color: rgba(0, 0, 0, 0.3);
  font-size: 0.95em;
  padding: 0 0 10px;
}
.address {
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 0;
  font-size: 0.95em;
  line-height: 1.5em;
}
.phone {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.95em;
  padding: 0 0 10px;
}
.upper {
  text-transform: uppercase;
}
.cap {
  text-transform: capitalize;
}
.blur {
  color: transparent;
  text-shadow: 0 0 5px #3FA979;
}
.blur:hover {
  color: #3FA979;
  text-shadow: none;
}
